img {
    height: 75rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
    max-width: 100%;
    border: solid 1px black;
}

.download-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

a.download-button {
    background-color: #4A4E69; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    text-decoration: none; /* Supprime le soulignement */
    border-radius: 5px; /* Bords arrondis */
    margin-bottom: 2rem;

  }
  

  a.download-button:hover {
    background-color: #22223b; /* Couleur de fond au survol */
  }

  main{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .cv{
    font-size: 44px;
    display: inline-block;
    animation: vague 0.7s infinite alternate;
    background-color: transparent;
    text-shadow: 4px 4px 10px rgb(255, 255, 255); /* Ombre blanche */
}